<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="head">
        <h1>AsBlog</h1>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <h2>Username</h2>
        <input type="text" name="username" id="" placeholder="Enter your username">
        <h2>Password</h2>
        <input type="password" name="password" id="" placeholder="Enter your password"><br><br>
        <input type="submit" name="" id="">
    </form>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
</body>
</html>